* {
    box-sizing: border-box;
}

.container {
    margin: 0px 0px 0px 19px;
    width: 795px;
    height: 150px;
    border: 4px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.acontainer {
    margin: 0px 0px 0px 19px;
    width: 100%;
    max-width: 810px;
    margin-left: 30px;
    border: 4px solid gray;
    padding: 30px 30px 0px 30px;
}

.row {
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
}

.box {
    border: 4px solid gray;
    width: 70px;
    height: 70px;
    margin-left: 30px;
}

.box-bigger {
    border: 4px solid gray;
    width: 100px;
    height: 100px;
}

.title {
    border: 2px solid gray;
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
}

.boxx {
    border: 4px solid gray;
    width: 30%;
    height: 120px;
    margin-bottom: 20px;
    
}

.box-small {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}